{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Simple POS</title>
  </head>

  <body>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-12 col-md-8">
            <div id="menuContainer" class="container-fluid">
              <div class="row">
                <div class="col-sm">
                    <div class="images item">
                      <a id=menu1 href="#" onclick="add_product(this.id)">
                        <img class="img-thumbnail" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="salmon salad">
                      </a>
                      
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">Salmon salad</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="images item">
                      <a id=menu2 href="#" onclick="add_product(this.id)">
                        <img class="img-thumbnail" src="https://images.unsplash.com/photo-1538301258798-f3fdb8bbc3c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="hulk salad">
                      </a>
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">The hulk salad</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                      <div class="images item">
                        <a id=menu3 href="#" onclick="add_product(this.id)">
                          <img class="img-thumbnail" src="https://images.unsplash.com/photo-1582034986517-30d163aa1da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="caesar salad">
                        </a>
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">Chicken caesar salad</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-sm">
                    <div class="images item">
                      <a id=menu4 href="#" onclick="add_product(this.id)">
                        <img class="img-thumbnail" src="https://images.unsplash.com/photo-1509482560494-4126f8225994?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="pancakes">
                      </a>
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">Cinnamon pancakes with caramelized apples</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="images item">
                      <a id=menu5 href="#" onclick="add_product(this.id)">
                        <img class="img-thumbnail" src="https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="ramen">
                      </a>
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">Ramen</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="images item">
                      <a id=menu6 href="#" onclick="add_product(this.id)">
                        <img class="img-thumbnail" src="https://images.unsplash.com/photo-1571809839227-b2ac3d261257?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="tomyum">
                      </a>
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">Tom Yum</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                    </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12 col-md-4">
              <div class="container"> 
                <div class="btn-group-lg" role="group">
                  <a class="btn btn-lg" href="#"><ion-icon name="person-circle-outline" size="large"></ion-icon></a>
                  <button type="button" class="btn btn-outline-dark">New Customer</button>
                  <a class="btn btn-lg" href="#"><ion-icon name="list-outline" size="large"></ion-icon></ion-icon></a>
                </div>

                <div class="btn-group-md" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-light btn-md btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dine in
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dine in</a>
                    <a class="dropdown-item" href="#">Takeaway</a>
                  </div>
                </div>

                <div id="panelBill" class="panel">
                    <span>1</span>
                    <span style="float: right;"><a class="d-print-none" href="#">View Table</a></span>

                    <table class="table col-md-0">
                      <thead>
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Qty</th>
                          <th scope="col">Price</th>
                        </tr>
                      </thead>
                      <tbody id ="tBodyOrder">
                        <!-- <tr>
                          <td id="order"></td>
                          <td id="qty" class="text-center"></td>
                          <td id="price"class="text-right"></td>
                        </tr> -->
                      </tbody>
                    </table>

                    <div class="d-flex justify-content-between">
                      <div class="container-fluid">
                        <span>Subtotal:</span>
                        <span id="subTotal" style="float: right;"></span>
                        <br>
                        <span>Total:</span>
                        <span id="total" style="float: right;"></span>
                      </div>
                    </div>
                </div>

                <button id="saleBtn" href="#" onclick="confirm_sale()" class="btn btn-light btn-sm btn-block" disabled>Clear Sale</button>

                <div class="btn-group btn-group-lg btn-block" style="width: 100%" role="group">
                  <button type="button" class="btn btn-secondary">Save Bill</button>
                  <button onclick="printBill()" type="button" class="btn btn-block btn-secondary">Print Bill</button>
                </div>
                <div class="btn-group btn-block" role="group">
                  <a class="btn btn-primary btn-lg" href="#" data-toggle="tooltip" data-placement="bottom" title="Split Bill"><ion-icon name="receipt-outline" size="large"></ion-icon></a>
                  <button id="chargeBtn" type="submit" data-toggle="modal" data-target="#myModal"class="btn btn-lg btn-block btn-primary">Charge </button>
                </div>
				
				
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
          				    <div class="modal-content">
          					    <div class="modal-header">
          						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
          						    </button>
								          <h4 id="h4total" class="modal-title">TOTAL : Rp </h4>
          				    	</div>

                        <div class="modal-body row">
                          <div class="col-md-12">
                            <!--<form method="POST" action="?hal=cetak">-->
                            <form method="POST" action="?hal=cetak">
                              <div class="form-group">
                                <label>Cash</label>

          								    </div>


                              <div class="form-group">
                                <input type="hidden" id="type1" name="grand_total"
                                  onKeyUp="calculate(getElementById('type1').value,this.value);"
                                  value="number"/>

                              </div>

                              <div class="form-group">
                                <label> Kembalian</label>
                                  <input type="hidden" name="kembalian" id="kembalian">
                                  <h1><span id="result">
                                      </span></h1>
                              </div>

                              <div class="pull-right">
                                <button class="btn btn-primary btn-sm" type="submit">
                                      <i class="fa fa-check-square-o"></i> OK</button>
                                <button class="btn btn-danger btn-sm" data-dismiss="modal" aria-hidden="true" type="button"><i class="fa fa-times"></i>
                                      Cancel</button>
                              </div>
          							    </form>

                          </div>
                        </div>

          			    	</div>
                    </div>
                </div>

              </div>

        </div>
      </div>
      <!-- End of row -->

      </div>
	  <!-- End of container>
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="{% static 'js/simplepos.js' %}" type="text/javascript"></script>
  </body>
</html>



